{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Rentals | Details @ REITs in Ghana</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'website/home/assets/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'website/details/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'website/details/assets/css/noscript.css' %}" /></noscript>

		<meta content="rent, rentals, Reits, Ghana, real estate, Investment, Trusts" name="keywords">
		<meta content="rent, rentals, Reits, Ghana, real estate, Investment, Trusts" name="description">
		<meta property="og:title" content="Rentals @ REITs in Ghana" />
		<meta property="og:description" content="Rentals @ REITs in Ghana" />
		<meta property="og:url" content="https://rentals.reits-gh.com/" />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:image" content="https://rentals.reits-gh.com/logo.png" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="REITs Ghana" />
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">
		<div id="viewer" class="wrap">
			<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" 
				style="top: 0px; margin-right: 90px;">
				{% comment %} <div class="container">
					<a class="navbar-brand" href="{% url 'website:home' %}">{{cName}} <span>{{cSlogan}}</span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menu
				</button> {% endcomment %}
				<div class="collapse navbar-collapse" id="ftco-nav">
					{% block navigation %}
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a href="{% url 'website:home' %}" class="nav-link">Rentals</a></li>
						{% comment %}
						<li class="nav-item"><a href="{% url 'website:details' %}" class="nav-link">Über uns</a></li>
						<li class="nav-item"><a href="{% url 'website:details' %}" class="nav-link">Dienstleistung</a></li>
						<li class="nav-item"><a href="portfolio.html" class="nav-link">Portfolio</a></li>
						<li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li> 
						{% endcomment %}
						<li class="nav-item"><a href="{% url 'website:newsletter' %}" class="nav-link">Newsletters</a></li>
						<li class="nav-item"><a href="{% url 'website:contact' %}" class="nav-link">Contact</a></li>
					</ul>
					{% endblock navigation %}
				{% comment %} </div> {% endcomment %}
				</div>
			</nav>
		</div>
	<!-- END nav -->
		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Rentals @ REITs</h1>
						<p>NEWLY Built. 2 Rooms, 1 kitchen, 2 baths, 2 toilets, 1 terrace, 1 dining area, 2 parking space, 2 slip a/c, wifi, dstv, security fence, 5 min walk from KFC in Sakumono, Tema. <br/>€500 (Euro) per month</p>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="{% url 'website:contact' %}" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/13.jpg' %}" data-position="left center"><img src="{% static 'website/details/images/thumbs/13.jpg' %}" alt="" /></a>
							<h2>Before the extension was built</h2>
							<p>As you may know, an extension was built before this unit became available for rent. However, as you will see in the next slide, the unit is completely detached, ensuring your own privacy and entrance to the space.</p>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/frontviewpn.jpeg' %}"><img src="{% static 'website/details/images/fulls/frontviewpn.jpeg' %}" alt="" /></a>
							<h2>The extension</h2>
							<p>Front view , Potrait, North.</p>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/03.jpg' %}" data-position="top center"><img src="{% static 'website/details/images/thumbs/03.jpg' %}" alt="" /></a>
							<h2>Nec accumsan enim felis</h2>
							<p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/04.jpg' %}"><img src="{% static 'website/details/images/thumbs/04.jpg' %}" alt="" /></a>
							<h2>Donec maximus nisi eget</h2>
							<p>Tristique in nulla vel congue. Sed sociis natoque parturient nascetur.</p>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/05.jpg' %}" data-position="top center"><img src="{% static 'website/details/images/thumbs/05.jpg' %}" alt="" /></a>
							<h2>Nullam vitae nunc vulputate</h2>
							<p>In pellentesque cursus velit id posuere. Donec vehicula nulla.</p>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/06.jpg' %}"><img src="{% static 'website/details/images/thumbs/06.jpg' %}" alt="" /></a>
							<h2>Phasellus magna faucibus</h2>
							<p>Nulla dignissim libero maximus tellus varius dictum ut posuere magna.</p>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/07.jpg' %}"><img src="{% static 'website/details/images/thumbs/07.jpg' %}" alt="" /></a>
							<h2>Proin quis mauris</h2>
							<p>Etiam ultricies, lorem quis efficitur porttitor, facilisis ante orci urna.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/08.jpg"><img src="images/thumbs/08.jpg" alt="" /></a>
							<h2>Gravida quis varius enim</h2>
							<p>Nunc egestas congue lorem. Nullam dictum placerat ex sapien tortor mattis.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/09.jpg"><img src="images/thumbs/09.jpg" alt="" /></a>
							<h2>Morbi eget vitae adipiscing</h2>
							<p>In quis vulputate dui. Maecenas metus elit, dictum praesent lacinia lacus.</p>
						</article>
						<article>
							<a class="thumbnail" href="images/fulls/10.jpg"><img src="images/thumbs/10.jpg" alt="" /></a>
							<h2>Habitant tristique senectus</h2>
							<p>Vestibulum ante ipsum primis in faucibus orci luctus ac tincidunt dolor.</p>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/backview.jpeg' %}"><img src="{% static 'website/details/images/fulls/backview.jpeg' %}" alt="" /></a>
							<h2>Back View</h2>
							<p>Ut sed magna euismod leo laoreet congue. Fusce congue enim ultricies.</p>
						</article>
						<article>
							<a class="thumbnail" href="{% static 'website/details/images/fulls/floorplan.PNG' %}"><img src="{% static 'website/details/images/fulls/floorplan.PNG' %}" alt="" /></a>
							<h2>Floor Plan</h2>
							<p>Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.</p>
						</article>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; REITs Ghana |</li><li>Design: <a href="https://skylinewebservice.com">Skyline Webservice</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'website/details/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'website/details/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'website/details/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'website/details/assets/js/main.js' %}"></script>

	</body>
</html>